.hero {
    margin: 0 120px;
    margin-top: 100px;
}
.hero-text{
    color: #fff;
    font-size: 4rem;
    font-weight: 500;
    line-height: 75px;
}
.hero-explain{
    display: flex;
    align-items: center;
    gap: 30px;
    width: fit-content;
    margin-top: 50px;
    padding: 5px 8px;
    padding-left: 40px;
    border-radius: 60px;
    background: #fff;
    cursor: pointer;
}
.hero-explain p{
    color: #292929;
    font-size: 1.2rem;
    cursor: pointer;
}
.hero-explain img{
    height: 50px;
}
.hero-dot-play{
    margin-top: 120px;
    display: flex;
    justify-content: space-between;
}
.hero-dots{
    display: flex;
    align-items: center;
    gap:23px;
    list-style: none;
}
.hero-dot{
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
}
.hero-dot.orange{
    background: orangered;
}
.hero-play{
    display: flex;
    gap: 30px;
    align-items: center;
}
.hero-play p{
    color: #fff;
    font-size: 19px;
    
}