@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 120px;
    color: #fff;
}
.nav-logo{
    font-family: "Outfit", sans-serif;
    font-size: 2rem;
    font-weight: 500;
    }

.nav-menu{
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    list-style: none;
    gap: 4.2rem;
}

.nav-contact{
    border-radius: 50px;
    padding: 10px 38px;
    background: #fff;
    color: #262626;
}